// 统一的前缀
@prefix: ~'md';

@color: #222;
@colorDark: #999;

@borderColor: #e6e6e6;
@borderColorDark: #2d2d2d;

@bkColor: #ececec;
@bkColorDark: #090909;

// 在默认背景下凸出背景
@bbkColor: rgb(240, 240, 240);
@bbkColorDark: #111;

@hover: rgb(230, 230, 230);
@hoverdark: rgb(70, 70, 70);

// 模仿antd的主色调
@primaryColor: #73d13d;
