// 统一的前缀
@prefix: ~'md';

@color: #222;
@colorDark: #999;

@borderColor: #e6e6e6;
@borderColorDark: #2d2d2d;

@bkColor: #fff;
@bkColorDark: #000;

// 在默认背景下凸出背景
@bbkColor: #ececec;
@bbkColorDark: #111;

@hover: #f5f7fa;
@hoverdark: #1b1a1a;

// 模仿antd的主色调
@primaryColor: #73d13d;
