$color: #222;
$color-dark: #999;

$color-reverse: #eee;
$color-dark-reverse: #222;

$border-color: #e6e6e6;
$border-color-dark: #2d2d2d;

$border-color-reverse: #bebebe;
$border-color-dark-reverse: #e6e6e6;

$bk-color: #fff;
$bk-color-dark: #000;

$code-bk-color: #282c34;
$code-bk-color-dark: #1a1a1a;

$hover: rgb(230, 230, 230);
$hover-dark: rgb(70, 70, 70);

// 在默认背景下凸出背景
$bbk-color: #ececec;
$bbk-color-dark: #111;

// 模仿antd的主色调
$primary-color: #73d13d;
