@import './vars';

.@{prefix} {
  width: 100%;

  &-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    overflow: hidden;
  }

  &-toolbar {
    padding: 4px 12px;
    height: 36px;
    border: 1px solid hsv(0, 0, 90%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      height: 24px;
      display: inline-block;
      padding: 0 4px;
      transition: all 0.3s;
      border-radius: 0;
      cursor: pointer;
      list-style: none;

      &:hover {
        border-radius: 3px;
        background-color: rgb(230, 230, 230);
      }
    }

    &-left,
    &-right {
      padding: 1px 0;
      display: flex;
      align-items: center;
    }
  }
}
