.@{prefix}-catalog-editor {
  .css-vars(false);

  overflow: auto;

  height: 100%;
  background-color: var(--md-bk-color);
  border-left: 1px solid var(--md-border-color);
  width: 200px;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  z-index: 10002;
}

.@{prefix}-catalog-fixed {
  position: absolute;
  top: 0;
  right: 0;
}

.@{prefix}-catalog-flat {
  position: initial;
  flex-shrink: 0;
}

.@{prefix}-catalog {
  &-indicator {
    height: 18px;
    width: 4px;
    background-color: #73d13d;
    position: absolute;
    border-radius: 4px;
    transition: top 0.3s;
  }

  & > &-link {
    padding: 5px 8px;
  }

  &-link {
    padding: 5px 0 5px 1em;
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
      width: 100%;
      position: relative;
      overflow: hidden;
      color: var(--md-color);
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: color 0.3s;
      cursor: pointer;
      line-height: 18px;

      &:hover {
        color: #73d13d;
      }
    }

    .@{prefix}-catalog-wrapper > & {
      padding-top: 5px;
      padding-bottom: 5px;

      &:first-of-type {
        padding-top: 10px;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  &-active {
    & > span {
      color: #73d13d;
    }
  }
}

.@{prefix}-catalog-dark {
  .css-vars(true);
}
