@font-face {
  font-family: 'md-editor-iconfont'; /* Project id 2605852 */
  src:
    url('//at.alicdn.com/t/c/font_2605852_cmafimm6hot.woff2?t=1717482913093')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_2605852_cmafimm6hot.woff?t=1717482913093')
      format('woff'),
    url('//at.alicdn.com/t/c/font_2605852_cmafimm6hot.ttf?t=1717482913093')
      format('truetype');
}

.md-editor-iconfont {
  font-family: 'md-editor-iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md-editor-icon-collapse-tips:before {
  content: '\e6c9';
}

.md-editor-icon-preview-only:before {
  content: '\e601';
}

.md-editor-icon-jump:before {
  content: '\e635';
}

.md-editor-icon-copy:before {
  content: '\e63d';
}

.md-editor-icon-task:before {
  content: '\eb16';
}

.md-editor-icon-formula:before {
  content: '\e61f';
}

.md-editor-icon-mermaid:before {
  content: '\e600';
}

.md-editor-icon-layout-one:before {
  content: '\e647';
}

.md-editor-icon-delete:before {
  content: '\e614';
}

.md-editor-icon-upload:before {
  content: '\e696';
}

.md-editor-icon-close:before {
  content: '\e631';
}

.md-editor-icon-prettier:before {
  content: '\e7f8';
}

.md-editor-icon-revoke:before {
  content: '\e60d';
}

.md-editor-icon-next:before {
  content: '\e60f';
}

.md-editor-icon-sup:before {
  content: '\ec83';
}

.md-editor-icon-italic:before {
  content: '\ec85';
}

.md-editor-icon-sub:before {
  content: '\ec86';
}

.md-editor-icon-preview:before {
  content: '\e649';
}

.md-editor-icon-coding:before {
  content: '\e6b0';
}

.md-editor-icon-underline:before {
  content: '\eaef';
}

.md-editor-icon-fangda:before {
  content: '\e6a7';
}

.md-editor-icon-suoxiao:before {
  content: '\e6ab';
}

.md-editor-icon-baocun:before {
  content: '\e644';
}

.md-editor-icon-bold:before {
  content: '\e60e';
}

.md-editor-icon-strike-through:before {
  content: '\e611';
}

.md-editor-icon-link:before {
  content: '\e617';
}

.md-editor-icon-ordered-list:before {
  content: '\e612';
}

.md-editor-icon-unordered-list:before {
  content: '\e620';
}

.md-editor-icon-code-row:before {
  content: '\e70b';
}

.md-editor-icon-quote:before {
  content: '\e63c';
}

.md-editor-icon-title:before {
  content: '\e61d';
}

.md-editor-icon-github:before {
  content: '\e76f';
}

.md-editor-icon-fullscreen-exit:before {
  content: '\e637';
}

.md-editor-icon-fullscreen:before {
  content: '\e627';
}

.md-editor-icon-code:before {
  content: '\f120';
}

.md-editor-icon-catalog:before {
  content: '\e619';
}

.md-editor-icon-table:before {
  content: '\e615';
}

.md-editor-icon-image:before {
  content: '\e629';
}
