@prefix: ~'docs';

@color: #222;
@colorDark: #999;

@colorReverse: #eee;
@colorDarkReverse: #222;

@borderColor: #e6e6e6;
@borderColorDark: #2d2d2d;

@borderColorReverse: #bebebe;
@borderColorDarkReverse: #e6e6e6;

@bkColor: #fff;
@bkColorDark: #000;

@codeBkColor: #282c34;
@codeBkColorDark: #1a1a1a;

@hover: rgb(230, 230, 230);
@hoverdark: rgb(70, 70, 70);

// 在默认背景下凸出背景
@bbkColor: #ececec;
@bbkColorDark: #111;

// 模仿antd的主色调
@primaryColor: #73d13d;

.css-vars(@isDark) {
  --iz-color: if(@isDark, #999, #222);
  --iz-hover-color: if(@isDark, #bbb, #000);
  --iz-bk-color: if(@isDark, #000, #fff);
  --iz-bk-color-outstand: if(@isDark, #111, #f6f6f6);
  --iz-bk-hover-color: if(@isDark, #1b1a1a, #f5f7fa);
  --iz-border-color: if(@isDark, #2d2d2d, #e6e6e6);
  --iz-border-hover-color: if(@isDark, #636262, #b9b9b9);
  --iz-border-active-color: if(@isDark, #777, #999);
  --iz-modal-mask: #00000073;
  --iz-scrollbar-bg-color: if(@isDark, #0f0f0f, #e2e2e2);
  --iz-scrollbar-thumb-color: if(@isDark, #2d2d2d, #0000004d);
  --iz-scrollbar-thumb-hover-color: if(@isDark, #3a3a3a, #00000059);
  --iz-scrollbar-thumb-avtive-color: if(@isDark, #3a3a3a, #00000061);
}
