.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .nav-item {
    padding: 0 1rem;
    cursor: pointer;
    line-height: 1;

    .icon {
      width: 1.1em;
      height: 1.1em;
      padding-right: 3px;
    }

    a {
      color: inherit;
    }
  }
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    margin: 1rem;

    .nav-item {
      text-align: left;
      margin: 0.4rem 0;
      padding: 0;
      color: var(--iz-color);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
