@import '../vars';

.doc {
  line-height: 1.7;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  pre {
    position: relative;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: #00000055 0px 2px 2px;
    font-family: -apple-system, Consolas, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: inherit;

    code {
      padding: 15px;
      display: block;
      overflow: auto;
      background-color: @codeBkColor;
      color: #a9b7c6;
      font-size: 16px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-family: inherit;
      line-height: inherit;
    }

    .copy-button {
      color: @colorDark;
      position: absolute;
      font-size: 12px;
      top: 9px;
      right: 10px;
      cursor: pointer;
    }

    &::before {
      content: '';
      display: block;
      background: url(../../MdEditor/imgs/pre.png);
      height: 32px;
      width: 100%;
      background-size: 40px;
      background-repeat: no-repeat;
      background-color: #282c34;
      margin-bottom: 0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-position: 10px 10px;
    }
  }

  strong {
    color: #40b8fa;

    &::before {
      content: '「 ';
    }

    &::after {
      content: ' 」';
    }
  }

  p {
    margin: 0.5rem;
    font-family: -apple-system, Consolas, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    code {
      color: #3594f7;
      background: RGBA(59, 170, 250, 0.1);
      display: inline-block;
      padding: 0 4px;
      border-radius: 2px;
      height: 21px;
      line-height: 22px;
      font-family: inherit;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      &:hover {
        background-color: @hover;
      }

      th,
      td {
        word-wrap: break-word;
        padding: 6px 13px;
        border: 1px solid @borderColor;
      }
    }
  }

  blockquote {
    margin: 20px 0;
    padding: 0.5em 1.2em;
    line-height: 2em;
    background-color: @bbkColor;
    border-left: 5px solid #35b378;
    display: block;
  }

  ol,
  ul {
    margin: 0.6em 0;
    padding-left: 1.6em;

    li {
      line-height: 1.6;
    }
  }

  a {
    text-decoration: none;
    color: #2d8cf0;
    transition: color 0.3s;

    &:hover {
      color: @primaryColor;
    }
  }
}

.theme-dark {
  blockquote {
    background-color: @bbkColorDark;
  }

  pre {
    code {
      background-color: @codeBkColorDark;
      color: #a9b7c6;
    }

    .copy-button {
      color: @colorDark;
    }

    &::before {
      background-color: @codeBkColorDark;
    }
  }

  table {
    tr {
      &:hover {
        background-color: @hoverdark;
      }

      th,
      td {
        border-color: @borderColorDark;
      }
    }
  }
}
